html {}


/* General styles - start */

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
}

section,
footer {
	text-align: center;
	padding: 40px;
}


/* General styles - stop */


/* Main menu styles - start */

#menu {
	background-color: #222;
	position: fixed;
	z-index: 12;
	width: 100%;
}

#menu ul {
	margin: 0;
	text-align: center;
}

#menu ul .menu-item {
	display: inline-block;
	padding: 20px;
}

#menu ul .menu-item a {
	color: #fff;
	text-decoration: none;
	text-align: center;
}


/* właściwości linków jedynie z menu-item */


/* Main menu styles - stop */


/* Header styles - start */

#header {
	position: relative;
}

#header img {
	width: 100%;
}

#header h1 {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%;
	color: #fff;
	text-transform: uppercase;
	margin: 0;
	transform: translateY(-50%);
}


/* Header styles - stop */

#about {
	height: 400px;
	bottom: 18px;
}
/* Footer styles - start */

#contact {
	color: #fff;
	bottom: 0;
	background-color: #222;
}
#contact address {
	font-style: normal;
}
#contact a {
	color: #fff;
}
/* Footer styles - stop */

